

{% include "store/base.html" %} 
{% load static %} 
{% block content %}
<style>
  body {
    background-color: grey; /* Light background color */
  }
</style>

<body>
  <br />
  <div class="container bg-white shadow-md p-5 form-layout">
    <div class = "text-center">
    <i class="fa fa-check fa-3x text-success" aria-hidden="true"></i>

    </i>
    <h3>
      <storng> Payment Success! </storng>
    </h3>
    <hr />
    <p>Your order was processed successfully...</p>
    <!-- <a class="btn btn-success navbar-btn text-blue" type="button" href="/">
            Login
          </a> -->
    </div>
  </div>

  {% endblock %}
</body>