{% include "store/base.html" %}
{% load static %}

{% load crispy_forms_tags %}





{% block content %}

<style>
    body {
        background-color: grey; /* Light background color */
    }
</style>

<body>
    <br/>
    <div class = "container bg-white shadow-md p-5 form-layout">
        <h3>
            Account Deletion
        </h3>
        <hr/>         
        <form method = "POST" autocomplete = "off">
            {% csrf_token %}
            <p> Are you sure that you want to delete your account ? </p>
            <button type = "submit" class = "btn btn-danger"> &nbsp;   
                Yes
            </button>
            <a class="btn btn-success navbar-btn text-white" type="button" href="{% url 'dashboard' %}">No</a>
        </form>
    </div>
</body>
{% endblock %}
