{% include "store/base.html" %}
{% load static %}

{% load crispy_forms_tags %}





{% block content %}
<style>
    body {
        background-color: grey; /* Light background color */
    }
</style>
<div class = "container bg-white shadow-md p-5 form-layout">

<h3>
    Enter Your New Password
</h3>
<hr>
<p>
    Please enter your new password below. 
    Make sure it is at least 8 characters long and contains a mix of letters, 
    numbers, and special characters for better security.    
</p>
<form method = 'post'>
    {% csrf_token %}
    {{form|crispy}}
    
    <br/>
    <button type = "submit" class = "btn btn-primary w-100 p-2"> &nbsp;   
        Update Password
    </button>
</form>
</div>
{% endblock %}