
{% include "store/base.html" %} 
{% load static %} 
{% block content %}
<style>
  body {
    background-color: grey; /* Light background color */
  }
</style>

<body>
  <br />
  <div class="container bg-white shadow-md p-5 form-layout">
    <div class = "text-center">
    <i class="fa fa-envelope aria-hidden="true" style="font-size: 50px; color: #007bff;"></i>

    </i>
    <h4>
      <storng> A Password Reset Link was sent to your email address! </storng>
    </h4>
    <hr />
    <p>We've emailed you instructions for setting your password.
    Please check your email..</p>
    </div>
  </div>

  {% endblock %}
</body>
